<div class="list">
  <div class="column media bg-dark mb-3">
    <div class="card bg-dark">
      <img
        class="mr-3"
        src="{{book_image}}"
        alt="book image"
        width="64px"
        height="64px"
      />
      <div class="media-body">
        <h5 class="mt-0 mb-1 text-info">{{rank}}. {{title}} by {{author}}</h5>
        <p class="mt-0 mb-1 text-info">Description: {{description}}</p>
      </div>
    </div>
  </div>
</div>