<div class="list-unstyled w-2/4 place-content-center">
  <div class="media bg-dark rounded-lg mb-3">
    <img
      class="mr-3 justify-center"
      src="{{book_image}}"
      alt="book image"
      width="100px"
      height="100px"
    />
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">{{rank}}. {{title}} by {{author}}</h5>
      <p class="mt-0 mb-1 text-info">Description: {{description}}</p>
    </div>
  </div>
</div>