<div class="list-unstyled w-2/4 place-content-center">
  <div class="media bg-dark rounded-lg mb-3">
    <img
      class="justify-center p-2"
      src="{{book_image}}"
      alt="book image"
      width="100px"
      height="100px"
    />
    <div class="media-body">
      <h3 class="mt-0 text-info">{{rank}}. {{title}}</h3>>
      <h5 class="mb-1 text-white"> by {{author}}</h5>
      <p class="mt-0 text-info">Description:</p>
      <p class="mt-0 mb-1 text-white">{{description}}</p>
    </div>
  </div>
</div>